# Dependencies
node_modules
/.pnp
.pnp.js

# Production
dist
dist-ssr

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# Firebase
.firebase
.firebaserc
firebase-debug.log

# PWA
/public/sw.js
/public/workbox-*.js
